* {
    box-sizing: border-box;
}

body {
    padding: 20px
}
.calculator-body {
    height: 580px;
    width: 450px;
    background-color: rgb(58, 34, 102);
    padding: 25px;
}

.screen {
    position: relative;
    width: 400px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 60px;
}

.display {
    font-size: 2em;
    position: absolute;
    bottom: 5px;
    right: 10px;
    margin: 0;
}

.buttons {
    display: flex;
}

.number-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 380px;
    background-color: aquamarine;
}

.number, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80px;
    color: aliceblue;
    background-color: blue;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 380px;
    background-color: antiquewhite;
}

.operator {
    background-color: brown;
}

.button:hover {
    cursor: pointer;
}

