* {
    box-sizing: border-box;
}

body {
    padding: 20px
}
.calculator-body {
    height: 580px;
    width: 450px;
    background-color: rgb(58, 34, 102);
    padding: 25px;
    border-radius: 20px;
}

.screen {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 60px;
}

.display-bottom {
    box-sizing: border-box;
    font-size: 2em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding: 5px;
}

.display-top {
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: right;
    margin: 0;
    padding: 5px;
}

.buttons {
    display: flex;
}

.number-buttons, .operator-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    padding: 10px;
    background-color: aquamarine;
}

.number-buttons {
    width: 300px;
}

.operator-buttons {
    width: 100px;
}


.number, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 50px;
    width: 80px;
    color: aliceblue;
    background-color: blue;
}

.operator {
    background-color: brown;
}

.button:hover {
    cursor: pointer;
}

#texttest {
    box-sizing: border-box;
    resize: none;
    font-size: 2em;
    width: 400px;
    text-align: right;
    padding: 20px 5px 5px 0px;
}

